<!DOCTYPE html>
<html ng-app='app'>
  <head>
    <meta charset="utf-8" />
    <title>Avalanche</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <!-- Bootstrap basics + theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
    <script src = "app.js"></script>
    <script src = "userController.js"></script>
  </head>
  <body>
    <h1>Avalanche</h1>

 <div class= "row" ng-view></div>

  <hr>
  <form name = "userfetchtest" ng-controller = "TestController" ng-submit = "getAllUsers()" ng-model="users.data">
      <button type = 'submit'>Retrieve all users</button>

      <div> <h2>Your Potential Partners <h2></div>
      <div ng-repeat="user in users.data" ng-model="userinfo" name="user name" value={{user.name}}><b>Name:</b> {{user.name}} <b>  Email: </b> {{user.email}}  <b>Available Time: </b>{{user.times}}</div>

      </form>
  <hr>
<!--   <div name = 'partner' ng-controller = "PartnerController" ng-model="partner-name">Your partner is: {{partner-name}}</div> -->
    <hr>
    <a href = "http://echothroughthefog.cordeliadillon.com/post/153393286626/how-to-call-your-reps-when-you-have-social-anxiety">helpful hints</a>
    <hr>
  </body>
</html>




