html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/* body set to 100% to allow sticky footer */
body {
  background-color: #99ccff;
  background-image: url("../images/mountain-opaque.jpg");
  background-size: cover;
  font-family: Arial;
  height: 100%;
}

h2 {
  color: white;
  font-family: 'Pacifico', cursive;
  font-size: 30px;
}

h3 {
  color: white;
  font-size: 20px;
}

h4 {
  color: white;
}

html {
  min-height: 100%;
  position: relative;
}

.logo {
  color: #ffffff;
  font-family: 'Pacifico', cursive;
  font-size: 60px;
}

.subRow {
  text-align: left;
  font: normal 16px sans-serif;
}

.subButton {
  background-color: #000000;
  color: #ffffff;
  margin:auto;
  display:block;
}

textarea {
  width:400px;
  height:100px;
}

iframe {
  border-top: #c00 1px dotted;
  border-right: #c00 2px dotted;
  border-left: #c00 2px dotted;
  border-bottom: #c00 4px dotted;
  margin-top: 20px;
  margin-bottom: 30px;
  min-height: 400px;
}