html {
  box-sizing: border-box;
  min-height: 100%;
  position: relative;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/* body set to 100% to allow sticky footer */
body {
  font-family: Arial;
  height: 100%;
}

h2 {
  font-family: 'Pacifico';
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

.imagey {
  background-color: #99ccff;
  background-image: url("../images/mountain-opaque.jpg");
  background-size: cover;
}

.signup {
  background: rgba(255, 255, 255, 0.5)
}

.top-buffer { margin-top:20px; }

.logo {
  color: #ffffff;
  font-family: 'Pacifico', cursive;
  font-size: 60px;
}

.phone {
  color: red;
  font-size: 30px;
}

.spacer {
  margin-top: 30px;
}

.subhead {
  text-align: center;
}

.subRow {
  text-align: center;
  font: normal 16px sans-serif;
}

.subButton {
  background-color: #ffffff;
  color: #000000;
  font-family: 'Pacifico', cursive;
  font-size: 30px;
}

textarea {
  width:400px;
  height:100px;
}

iframe {
  border-style: solid;
  background-image: url("../images/snowflake-background.jpg");
  margin-top: 20px;
  margin-bottom: 20px;
  min-height: 400px;
}
