html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: Arial;
  background-color: #99ccff;
}

.logo {
  font-size: 60px;
  color: #ffffff;
  font-family: 'Pacifico', cursive;
}

.subRow {
  text-align: left;
  font: normal 16px sans-serif;
}

.subButton {
  background-color: #000000;
  color: #ffffff;
}

textarea {
  width:400px;
  height:100px;
}

iframe {
  border-top: #c00 1px dotted;
  border-right: #c00 2px dotted;
  border-left: #c00 2px dotted;
  border-bottom: #c00 4px dotted;
  margin-top: 20px;
  margin-bottom: 30px;
  min-height: 400px;
}