<div class="container-fluid" ng-controller="CallController">

  <!-- header -->
  <div class="header">
    <div class="header-left">
    </div>
    <div class="header-center">
    <p class = "logo">Avalanche</p>
    </div>
    <div class="header-right">
      <a href="#/login">Sign In</a>
      <a href="#/signup">Sign Up</a>
      <a href="#/match">Find A Match</a>
      <a href="#/call">Make a Call</a>
      <button id="logout" ng-click="logUserOut()">Logout</button>
    </div>
  </div>

  <div class = "row">
    <div class = "col-md-1"></div>
    <div class="col-md-5">
      <h2 class="subhead">Who You're Calling</h2>
      Placeholder for legislator contact info
      <h2 class="subhead">What You're Calling About</h2>
      Placeholder for call script
    </div>
    <div class="col-md-5">
      <h2>Your Calling Partner: {{ partner }}</h2>
      <div class="spacer"></div>
      <iframe width="90%" id="appear"></iframe>
      <h3 ng-show="gotRoom">Your permanent video link: www.appear.in/{{ room }}</h3>
      <button ng-click="generateVideoLink()">Get a new permanent video link</button>
      <button ng-show="gotRoom" ng-click="saveVideoLink()">I like this one, thanks</button>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>