<div class = "container-fluid" ng-controller = "MatchController">
  <div class = "row">
  <div class="col-md-1"></div>
    <div class = "col-md-5">
      <h2>Your Calling Partners:</h2>
      <div class="row spacer"></div>
      <div ng-repeat="user in users|limitTo:4 track by id">

        <span><h3><strong>{{user.name}}    </strong></h3>
        <a href="mailto:"+{{user.email}} target="_top">{{user.email}}</a></span>
        <h4>Timezone: {{user.timezone}}</h4>
        <h4>Scheduled Call Time: {{user.timeMatch}}</h4>
      </div>

      <div>
        <div>
          <button ng-click="getAllUsers()">Refresh User Matches</button>
        </div>

      </div>
    </div>
    <div class="col-md-5" style="text-align: right">
    <form>
      <div class="form-group">
        <button ng-click="getUserByName()">Find User By Name</button>
        <input class="top-buffer" type="text" ng-model="user.name" placeholder="Enter name to search by">
      </div>
    </form>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>