<div class = "container-fluid" ng-controller = "MatchController">

  <!-- header -->
  <div class="header">
    <div class="header-left">
    </div>
    <div class="header-center">
    <p class = "logo">Avalanche</p>
    </div>
    <div class="header-right">
      <a href="#/login">Sign In</a>
      <a href="#/signup">Sign Up</a>
      <a href="#/match"><button ng-click="getMatchedUsers()">Find A Match</button></a>
      <a href="#/call">Make a Call</a>
      <button ng-click="logUserOut()">Logout</button>
    </div>
  </div>

  <div class = "row">
  <div class="col-md-1"></div>
    <div class = "col-md-5">
      <div>Welcome {{user.firstName}}</div>
      <h2>Your Calling Partners:</h2>
      <div class="row spacer"></div>
      <div ng-repeat="user in users|limitTo:4 track by id">

        <span><h3><strong>{{user.name}}    </strong></h3>
        <a href="mailto:"+{{user.email}} target="_top">{{user.email}}</a></span>
        <h4>Timezone: {{user.timezone}}</h4>
        <h4>Scheduled Call Time: {{user.timeMatch}}</h4>
      </div>

      <div>
        <div>
          <button ng-click="getAllUsers()">Refresh User Matches</button>
        </div>

      </div>
    </div>
    <div class="col-md-5" style="text-align: right">
    <form>
      <div class="form-group">
        <button ng-click="getUserByName()">Find User By Name</button>
        <input class="top-buffer" type="text" ng-model="user.name" placeholder="Enter name to search by">
      </div>
    </form>
    </div>
    <div class="col-md-1"></div>
  </div>

</div>